.shortcuts {
  --size: 3rem;
  --space: calc(var(--size) / 2);
}

.shortcuts .table {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.shortcuts .row {
  display: flex;
  line-height: calc(var(--size) - 0.5rem);
  margin: 0 0 var(--space) 0;
}

.shortcuts .cell {
  flex: 2;
}

.shortcuts .cell.left {
  font-weight: bold;
  text-align: center;
}

.shortcuts .cell.right {
  flex: 3;
  padding-left: var(--space);
}

.shortcuts .cell .sep {
  padding: 0 10px;
}

.shortcuts .cell i {
  position: relative;
  top: calc(var(--size) / 5);
  font-size: 2rem;
}

.shortcuts .cell .key {
  background: rgba(255, 255, 255, 0.05);
  border: 4px solid var(--main-border);
  height: var(--size);
  min-width: var(--size);
  border-radius: calc(var(--size) / 4);
  margin: 0 5px;
}

.shortcuts .cell span {
  display: inline-block;
}
