.shortcuts {
  --size: 3rem;
  --space: calc(var(--size) / 2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.shortcuts .table {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.shortcuts .row {
  display: flex;
  margin: 0 0 var(--space) 0;
}

.shortcuts .cell {
  display: flex;
  align-items: center;
}

.shortcuts .cell.left {
  flex: 1;
  font-weight: bold;
  justify-content: center;
}

.shortcuts .cell.right {
  flex: 1;
  padding-left: var(--space);
}

.shortcuts .cell .sep {
  padding: 0 10px;
}

.shortcuts .cell i {
  position: relative;
  font-size: 2rem;
}

.shortcuts .cell .key {
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.05);
  border: 2px solid var(--text-main);
  height: var(--size);
  min-width: var(--size);
  border-radius: calc(var(--size) / 4);
  margin: 0 5px;
}

.shortcuts .cell span {
  display: inline-block;
}
