.sidebar {
  padding: var(--main-pad);
}

.sidebar p {
  padding: 0;
  margin: 0;
  line-height: 2;
}

.sidebar button {
  display: block;
  color: var(--text-main);
  background-color: var(--main-surface-pop);
  border: 1px solid var(--main-border);
  padding: var(--main-pad) 12px;
  border-radius: 3px;
  margin: 12px 0px 12px 0;
}

.sidebar-kv .metalabel {
  opacity: 0.8;
  font-size: 0.9em;
  padding-right: 2px;
}

.sidebar-kv .metavalue {
  font-size: 1.1em;
  line-height: 1;
}
