.sidebar {
  padding: 6px;
}

.sidebar p {
  padding: 0;
  margin: 0;
  line-height: 2;
}

.sidebar button {
  display: block;
  color: var(--text-main);
  background-color: var(--main-surface-pop);
  border: 1px solid var(--main-border-pop);
  padding: 6px 12px;
  border-radius: 3px;
  margin: 12px 0px 12px 0;
}
