.modal .about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
}

.modal .about .credit {
  font-size: 1.6rem;
  margin: 10px auto;
}

.modal .about a {
  color: #9eeaf9;
}

.modal .about .head,
.modal .about .foot {
  flex: 0;
}

.modal .about .body {
  flex: auto;
}
