.filmstrip {
  padding: 0;
  background: #464646;
}

.filmstrip-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
}

.filmstrip-wrapper::-webkit-scrollbar {
  display: none;
}

.filmstrip .thumbnail {
  position: relative;
  width: 180px;
  height: 180px;

  border-radius: 3px;
  border: 1px solid gray;
  padding: 6px;

  flex: 0 0 auto;
  margin: 0 5px;

  background-color: #535353;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;

  cursor: pointer;
}

.filmstrip .thumbnail::after {
  content: attr(data-filename);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5px;
  text-align: center;

  pointer-events: none;
}
