.filmstrip {
  padding: 0;
  background: #464646;

  display: flex;
  align-items: center;
}

.filmstrip-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
}

.filmstrip-wrapper::-webkit-scrollbar {
  display: none;
}

.filmstrip .thumbnail {
  position: relative;
  width: 180px;
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 auto;
  margin: 0 5px;
  padding: 6px;

  border-radius: 3px;
  border: 1px solid #787878;
  background-color: #535353;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;

  cursor: pointer;

  will-change: transform;
}

.filmstrip .thumbnail.selected {
  border-color: #eee;
}

.filmstrip .thumbnail img {
  max-width: 100%;
  max-height: 100%;
}

.filmstrip img.rotate-90 {
  transform: rotate(90deg);
}
.filmstrip img.rotate-270 {
  transform: rotate(270deg);
}

.filmstrip .rating {
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 1.2rem;
  text-shadow: 0 0 10px #262626;
}

.filmstrip .rating [data-rate="0"] {
  padding: 0 2px;
  opacity: 0.7;
}

.filmstrip .rating .★ {
  color: #ffda00;
}

.filmstrip .thumbnail::after {
  content: attr(data-filename);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5px;
  text-align: center;
  text-shadow: 0 0 10px #262626;
  font-weight: bold;
  word-wrap: break-word;

  pointer-events: none;
  will-change: transform;
}
