.dropzone {
  display: flex;
  background: rgba(18, 18, 18, 0.6);
  z-index: 200;
}

.dropzone .container {
  display: flex;
  margin: auto;
  pointer-events: none;

  width: 70%;
  max-width: 600px;
  height: 50%;

  align-items: center;
  text-align: center;

  background: var(--main-surface);
  border: 3px dotted var(--main-border);
  border-radius: 20px;
}

.dropzone p {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.dropzone .text {
  width: 100%;
  font-size: 3rem;
}
