.image {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: -webkit-grab;
  cursor: grab;

  overflow: scroll;
}

.image .image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: 0% 0%;
  will-change: transform;
}

.image img {
  position: relative;
  transform-origin: center;
  will-change: transform;
}
