.frame {
  -webkit-app-region: drag;
  -webkit-user-select: none;

  --frame-font-size: 18px;
  --frame-padding: calc((var(--frame-size) - var(--frame-font-size)) / 2 );
}

.frame i {
  font-size: var(--frame-font-size);
  padding: var(--frame-padding) 10px;
  -webkit-app-region: no-drag;
}

.frame i:hover {
  background-color: var(--main-border);
}
.frame i.close:hover {
  background-color: var(--accent-red-bright);
}

.frame i.left {
  float: left
}
.frame i.right {
  float: right
}
