.controls {
  padding: 6px;
  line-height: 1;
}

.controls button {
  height: 100%;
  min-width: 30px;
  margin: 0 6px 0 0;

  color: #262626;
  background: #eee;
  border: none;
  border-radius: 3px;
}

.controls .filter-rating {
  font-size: 1.2rem;
  cursor: pointer;
}
