.controls {
  padding: 6px;
  line-height: 1;

  display: flex;
  align-items: center;
}

/* toggle control */

.controls .toggle {
  display: inline-block;
  user-select: none;
  height: 100%;
  border: 1px solid rgba(158, 158, 158, 0.3);
  border-radius: 3px;
  overflow: hidden;
  margin-right: 6px;
}

.controls .toggle:after {
  content: "";
  display: table;
  clear: both;
}

.controls input[type=radio] {
  position: relative;
  float: left;
  display: inline-block;
  height: 100%;
  width: 2.2rem;
  color: var(--text-main);
  padding: 0;
  margin: 0;
}

.controls input[type=radio]:after {
  content: attr(value);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: var(--main-bg-color-light);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.controls input[type=radio]:checked:after {
  color: var(--accent-yellow);
}

/* select control */

.controls .select {
  border: 1px solid rgba(158, 158, 158, 0.3);
  border-radius: 3px;
  height: 100%;
  background: var(--main-bg-color-light);
  color: var(--text-main);
  -webkit-padding-start: 5px;
  -webkit-padding-end: 5px;

  margin-right: 6px;
}

.controls .select .label {
  height: 100%;
}

.controls .select option {
  font-size: 0.95rem;
}
