.modal .updater {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
}

.modal .updater .head,
.modal .updater .foot {
  flex: 0;
}

.modal .updater .body {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.modal .updater .icon {
  font-size: 7rem;
  padding-bottom: 30px;
  color: var(--text-main);
}

.modal .updater .body a {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
}
