.modal .updater {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
}

.modal .updater .credit {
  font-size: 1.6rem;
  margin: 10px auto;
}

.modal .updater a {
  color: #ffda00;
  text-decoration: none;
  opacity: 0.9;
}
.modal .updater a:hover {
  opacity: 1;
  text-decoration: underline;
}

.modal .updater .head,
.modal .updater .foot {
  flex: 0;
}

.modal .updater .body {
  flex: auto;
}
