:root {
  --00dp: #121212;  /*  0% opacity */
  --01dp: #1d1d1d;  /*  5% opacity */
  --02dp: #212121;  /*  7% opacity */
  --03dp: #252525;  /*  8% opacity */
  --04dp: #272727;  /*  9% opacity */
  --06dp: #2d2d2d;  /* 11% opacity */
  --08dp: #2e2e2e;  /* 12% opacity */
  --12dp: #323232;  /* 14% opacity */
  --16dp: #353535;  /* 15% opacity */
  --24dp: #383838;  /* 16% opacity */
  --32dp: #3d3d3d;  /* 18% opacity */
  --48dp: #414141;  /* 20% opacity */
  --64dp: #464646;  /* 22% opacity */
  --96dp: #4d4d4d;  /* 25% opacity */
  --128dp: #5a5a5a; /* 30% opacity */
  --192dp: #656565; /* 35% opacity */
  --256dp: #717171; /* 40% opacity */
  --384dp: #7d7d7d; /* 45% opacity */
  --512dp: #898989; /* 50% opacity */

  --main-background: var(--00dp);
  --main-surface: var(--03dp);
  --main-surface-pop: var(--12dp);
  --main-surface-top: var(--32dp);
  --main-border: var(--96dp);
  --main-border-pop: var(--256dp);

  --text-main: #dfdfdf;

  --scroll-track: var(--main-background);
  --scroll-thumb: var(--main-border-pop);

  --accent-pink: #ff7598;
  --accent-green: #75ff98;
  --accent-blue: #7598ff;
  --accent-purple: #dd75ff;
  --accent-yellow: #ffdd75;

  --accent-red-bright: #a01212;
  --accent-yellow-bright: #f6c304;
  --accent-purple-dark: #332940;

  --main-pad: 8px;
  --filmstrip-size: 200px;
  --controls-size: 40px;
  --sidebar-size: 280px;
}

.win32 {
  --frame-size: 28px;
}
.darwin {
  --frame-size: 24px;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-main);
  font-size: 10pt;
}

.main {
  background-color: var(--main-surface);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: var(--filmstrip-size);
  right: var(--sidebar-size);

  background-color: var(--main-background);
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--sidebar-size);
  bottom: calc((var(--filmstrip-size)) + (var(--controls-size)));
}
.win32.frameless .sidebar {
  top: var(--frame-size);
}
.frame, .frame-partial {
  display: none;
}
.win32.frameless .frame {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--sidebar-size);
  height: var(--frame-size);
}
.darwin.frameless .frame,
.darwin.frameless .frame-partial {
  display: block;
  position: absolute;;
  top: 0;
  left: 0;
  width: var(--filmstrip-size);
  height: var(--frame-size);
  z-index: 1;
}

.controls {
  position: absolute;
  right: 0;
  bottom: var(--filmstrip-size);
  height: var(--controls-size);
  width: var(--sidebar-size);
}
.controls::after {
  --size: 8px;
  --color: var(--main-surface);

  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: calc((var(--size)) * -1);
  border-bottom: var(--size) solid var(--color);
  border-left: var(--size) solid transparent;
  z-index: 1;
  user-select: none;
}

.filmstrip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

/* experiment filmstripOnLeft */
.experiment-filmstrip-left {
  --controls-size-exp: calc(var(--main-pad) + 40px);
}
.experiment-filmstrip-left .image {
  top: 0;
  bottom: 0;
  left: 200px;
}
.experiment-filmstrip-left .sidebar {
  bottom: var(--controls-size-exp);
}
.experiment-filmstrip-left .controls {
  bottom: 0;
  height: var(--controls-size-exp);
  padding-bottom: var(--main-pad);

}
.experiment-filmstrip-left .controls::after {
  display: none;
}
.experiment-filmstrip-left .filmstrip {
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100%;
}

.toast {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
}
.win32.frameless .toast {
  top: var(--frame-size);
}

.dropzone {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* icon styles */
.icon-rotate-180 {
  transform-origin: center;
  transform: rotate(180deg);
}

/* generic scrollbar that can be used throughout */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar:horizontal {
  height: 8px;
}
.scrollbar::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scroll-track);
  box-shadow: 0 0 8px var(--scroll-thumb) inset;
  border-radius: 8px;
}
.scrollbar::-webkit-scrollbar-corner {
  background: var(--scroll-track);
}
