:root {
  --00dp: #121212;
  --01dp: #1d1d1d;
  --02dp: #212121;
  --03dp: #252525;
  --04dp: #272727;
  --06dp: #2d2d2d;
  --08dp: #2e2e2e;
  --12dp: #323232;
  --16dp: #353535;
  --24dp: #383838;

  --main-background: var(--00dp);
  --main-surface: var(--03dp);
  --main-surface-pop: var(--12dp);
  --main-border: #383838;
  --main-border-pop: #9e9e9e;

  --text-main: #dfdfdf;

  --scroll-track: var(--main-background);
  --scroll-thumb: var(--main-border-pop);

  --accent-pink: #ff7598;
  --accent-green: #75ff98;
  --accent-blue: #7598ff;
  --accent-purple: #dd75ff;
  --accent-yellow: #ffdd75;

  --accent-yellow-bright: #ffda00;
  --accent-purple-dark: #332940;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--text-main);
  font-size: 10pt;
}

.main {
  background-color: var(--main-surface);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 200px;
  right: 280px;

  background-color: var(--main-background);
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 280px;
  bottom: 240px;

  border-left: 1px solid var(--main-border);
}

.controls {
  position: absolute;
  right: 0;
  bottom: 200px;
  height: 40px;
  width: 280px;

  border-top: 1px solid var(--main-border);
  border-left: 1px solid var(--main-border);
}

.filmstrip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;

  border-top: 1px solid var(--main-border);
}

.toast {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
}

.dropzone {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* generic scrollbar that can be used throughout */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar:horizontal {
  height: 8px;
}
.scrollbar::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scroll-track);
  box-shadow: 0 0 12px var(--scroll-thumb) inset;
  border-radius: 8px;
}
.scrollbar::-webkit-scrollbar-corner {
  background: var(--scroll-track);
}
