:root {
  --main-bg-color: #121212;
  --main-bg-color-light: #292929;
  --border-light: rgba(158, 158, 158, 0.3);

  --text-main: #dfdfdf;

  --scroll-track: var(--main-bg-color-light);
  --scroll-thumb: var(--border-light);
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--text-main);
  font-size: 10pt;
}

.main {
  background-color: var(--main-bg-color-light);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 200px;
  right: 280px;

  background-color: var(--main-bg-color);
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 280px;
  bottom: 240px;

  border-left: 1px solid var(--border-light);
}

.controls {
  position: absolute;
  right: 0;
  bottom: 200px;
  height: 40px;
  width: 280px;

  border-top: 1px solid var(--border-light);
  border-left: 1px solid var(--border-light);
}

.filmstrip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;

  border-top: 1px solid var(--border-light);
}

.toast {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
}

.dropzone {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* generic scrollbar that can be used throughout */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar:horizontal {
  height: 8px;
}
.scrollbar::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scroll-track);
  box-shadow: 0 0 12px var(--scroll-thumb) inset;
  border-radius: 8px;
}
.scrollbar::-webkit-scrollbar-corner {
  background: var(--scroll-track);
}
